In [12]:
import pandas as pd
from datetime  import datetime

In [17]:
df=pd.read_csv('Exchange_Rates.csv')

In [32]:
df.sample(5)

            Date Currency  Exchange
5877  2018-03-21      AUD    1.3018
3330  2016-10-28      USD    1.0000
1422  2015-10-12      AUD    1.3566
8200  2019-06-29      USD    1.0000
10198 2020-08-01      EUR    0.8440

In [33]:
df['Date'] = df['Date'].astype(str)
# Function to parse dates with multiple formats
def parse_date(date_str):
    formats = ['%Y-%m-%d', '%m/%d/%Y' , '%m-%d-%Y','%d-%m-%Y']  # Add other formats as needed
    for fmt in formats:
        try:
            return datetime.strptime(date_str, fmt).strftime('%Y-%m-%d')
        except ValueError:
            continue
    return date_str  # Return the original string if no format matches

# Apply the function to the 'Birthday' column
df['Date'] = df['Date'].apply(parse_date)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  datetime64[ns]
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 263.0+ KB

In [36]:
df.isnull().sum()

Date        0
Currency    0
Exchange    0
dtype: int64

In [6]:
df.duplicated().sum()

np.int64(0)

In [13]:
df['Date'] = df['Date'].astype(str)
# Function to parse dates with multiple formats
def parse_date(date_str):
    formats = ['%Y-%m-%d', '%m/%d/%Y' , '%m-%d-%Y','%d-%m-%Y']  # Add other formats as needed
    for fmt in formats:
        try:
            return datetime.strptime(date_str, fmt).strftime('%Y-%m-%d')
        except ValueError:
            continue
    return date_str  # Return the original string if no format matches

# Apply the function to the 'Birthday' column
df['Date'] = df['Date'].apply(parse_date)

In [34]:
df['Date']=pd.to_datetime(df['Date'],errors='coerce')

In [37]:
df.to_csv('Exchange Rates.csv')

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Read the CSV file into a Pandas DataFrame
csv_file_path = "C:/Users/anant/OneDrive/Desktop/jupyter/clean data of project 2/Exchange Rates.csv"
df = pd.read_csv(csv_file_path)

# Step 2: Define the connection string for your database (MySQL example)
# Replace 'username', 'password', 'localhost', 'database_name' with your actual database credentials
engine = create_engine('mysql+mysqlconnector://root:root@localhost/Global_Electronics1')

# Step 3: Create a new table in the database with the same structure as the CSV
# Replace 'table_name' with the name of the table you want to create
df.to_sql('Exchange_Rate', engine, index=False, if_exists='replace')

# Parameters:
# - 'table_name' is the name of the new table.
# - 'engine' is the connection object.
# - 'index=False' prevents the DataFrame index from being written as a column in the database.
# - 'if_exists="replace"' will drop the table if it already exists and create a new one. Use 'append' to add data without dropping.

print("Data inserted successfully!")

Data inserted successfully!

C:\Users\anant\AppData\Local\Temp\ipykernel_26836\3481994409.py:14: UserWarning: The provided table name 'Exchange_Rate' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql('Exchange_Rate', engine, index=False, if_exists='replace')