In [1]:
import pandas as pd

In [8]:
df=pd.read_csv('Products c.csv')

In [11]:
df.sample(5)

,ProductKey,Product,Brand,Color,Unit_Cost_USD,Unit_Price_USD,SubcategoryKey,Subcategory,CategoryKey,Category
1224,1225,"Trendsetter 1/2"" 3mm X300 Orange",Fabrikam,Orange,331.32,1000.00,405,Camcorders,4,Cameras and camcorders
130,131,"20"" Analog CRT TV E45 White",Adventure Works,White,101.97,200.00,201,Televisions,2,TV and Video
595,596,Screen 100in E010 White,Contoso,White,62.95,190.00,305,Projectors & Screens,3,Computers
2070,2071,Microwave 0.9CuFt E0090 Grey,Contoso,Grey,50.98,99.99,803,Microwaves,8,Home Appliances
876,877,Wireless Notebook Optical Mouse X205 Silver,Contoso,Silver,43.06,129.95,308,Computers Accessories,3,Computers

In [10]:
df=df.rename(columns={'Unit Cost USD':'Unit_Cost_USD','Unit Price USD':'Unit_Price_USD','Product Name':'Product_Name'})

In [4]:
df.isnull().sum()

ProductKey        0
Product           0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product         2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit_Cost_USD   2517 non-null   float64
 5   Unit_Price_USD  2517 non-null   float64
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 196.8+ KB

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (18076185.py, line 1)

In [6]:
df.duplicated().sum()

np.int64(0)

In [8]:
df.shape[0]

2517

In [20]:
df['Product'] = df['Product Name'].apply(lambda x: x[:x.index(" ")] if " " in x else x)

In [14]:
df['Product Name'].str.split(' ')

0              [Contoso, 512MB, MP3, Player, E51, Silver]
1                [Contoso, 512MB, MP3, Player, E51, Blue]
2                 [Contoso, 1G, MP3, Player, E100, White]
3                [Contoso, 2G, MP3, Player, E200, Silver]
4                   [Contoso, 2G, MP3, Player, E200, Red]
                              ...
2512    [Contoso, Bluetooth, Active, Headphones, L15, ...
2513    [Contoso, Bluetooth, Active, Headphones, L15, ...
2514             [Contoso, In-Line, Coupler, E180, White]
2515             [Contoso, In-Line, Coupler, E180, Black]
2516            [Contoso, In-Line, Coupler, E180, Silver]
Name: Product Name, Length: 2517, dtype: object

In [72]:
def column_name(X):
    return X[X.index(" ") + 1:]  # Assuming there's at least one space

# Apply the function to the 'Product Name' column in the DataFrame
df['Product Name'] = df['Product Name'].apply(column_name)

In [94]:
def column_name(X):
    if "Works" in X:
        return X.replace("Works", "").strip()  # Remove 'Phone Company' and strip any extra spaces
    return X
df['Product Name'] = df['Product Name'].apply(column_name)

In [103]:
df=df.rename(columns={'Product Name':'Product'})

In [105]:
def column_name(X):
    if "$" in X:
        return X.replace("$", "").strip()  # Remove 'Phone Company' and strip any extra spaces
    return X
df['Unit Cost USD'] = df['Unit Cost USD'].apply(column_name)

In [108]:
df['Unit Cost USD']=df['Unit Cost USD'].str.replace(",","")

In [110]:
df['Unit Cost USD']=df['Unit Cost USD'].astype("float64")

In [114]:
def column_name1(x):
    if "$" in x:
        return x.replace("$","").strip()
    return x
df["Unit Price USD"]=df["Unit Price USD"].apply(column_name1)

In [115]:
df['Unit Price USD']=df['Unit Price USD'].str.replace(",","")

In [116]:
df['Unit Price USD']=df['Unit Price USD'].astype('float64')

In [13]:
df.to_csv('Products c.csv',index=False)

In [17]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Read the CSV file into a Pandas DataFrame
csv_file_path = "C:/Users/anant/OneDrive/Desktop/jupyter/Products c.csv"
df = pd.read_csv(csv_file_path)

# Step 2: Define the connection string for your database (MySQL example)
# Replace 'username', 'password', 'localhost', 'database_name' with your actual database credentials
engine = create_engine('mysql+mysqlconnector://root:root@localhost/Global_Electronics1')

# Step 3: Create a new table in the database with the same structure as the CSV
# Replace 'table_name' with the name of the table you want to create
df.to_sql('Products', engine, index=False, if_exists='replace')

# Parameters:
# - 'table_name' is the name of the new table.
# - 'engine' is the connection object.
# - 'index=False' prevents the DataFrame index from being written as a column in the database.
# - 'if_exists="replace"' will drop the table if it already exists and create a new one. Use 'append' to add data without dropping.

print("Data inserted successfully!")

Data inserted successfully!

C:\Users\anant\AppData\Local\Temp\ipykernel_19520\191268030.py:14: UserWarning: The provided table name 'Products' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql('Products', engine, index=False, if_exists='replace')