In [1]:
import chardet
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [10]:
df=pd.read_csv("C:/Users/anant/OneDrive/Desktop/jupyter/clean data of project 2/sales_clean.csv")

In [13]:
df.sample(5)

,Unnamed: 0,Order_Number,Line_Item,Order_Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency_Code
61508,61508,2187016,5,2020-12-26,658701,12,1021,1,EUR
45680,45680,1764023,6,2019-10-30,1972249,62,550,7,USD
45121,45121,1756003,1,2019-10-22,735859,0,443,1,EUR
8318,8318,785017,1,2017-02-23,1213515,48,1652,1,USD
30575,30575,1480035,1,2019-01-19,2034808,63,1008,5,USD

In [12]:
df=df.rename(columns={'Line Item':'Line_Item','Currency Code':'Currency_Code','Order Number':'Order_Number','Order Date':'Order_Date'})

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     62884 non-null  int64
 1   Order Number   62884 non-null  int64
 2   Line Item      62884 non-null  int64
 3   Order Date     62884 non-null  datetime64[ns]
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: datetime64[ns](1), int64(7), object(1)
memory usage: 4.3+ MB

In [61]:
df.isnull().sum()

Order Number     0
Line Item        0
Order Date       0
CustomerKey      0
StoreKey         0
ProductKey       0
Quantity         0
Currency Code    0
dtype: int64

In [77]:
df=df.drop('Delivery Date',axis=1)

In [14]:
import pandas as pd

# Assuming you have a DataFrame df with a column 'Order Date' that contains many different date formats

# Convert 'Order Date' to datetime, automatically handling various formats
df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst=True, errors='coerce')

# Now 'df['Order Date']' contains datetime objects or NaT (if parsing failed for some rows)

# Display the first few rows to verify
print(df.head())

   Unnamed: 0  Order Number  Line Item Order Date  CustomerKey  StoreKey  \
0           0        366000          1 2016-01-01       265598        10
1           1        366001          1 2016-01-01      1269051         0
2           2        366001          2 2016-01-01      1269051         0
3           3        366002          1 2016-01-01       266019         0
4           4        366002          2 2016-01-01       266019         0

   ProductKey  Quantity Currency Code
0        1304         1           CAD
1        1048         2           USD
2        2007         1           USD
3        1106         7           CAD
4         373         1           CAD

In [ ]:
from datetime import datetime

# Read the CSV file
df['Order Date'] = df['Order Date'].astype(str)


# Function to parse dates with multiple formats
def parse_date(date_str):
    formats = ['%Y-%m-%d', '%d-%m-%Y', '%m-%d-%Y','%d/%m/Y']  # Add other formats as needed
    for fmt in formats:
        try:
            return datetime.strptime(date_str, fmt).strftime('%d/%m/%Y')
        except ValueError:
            continue
    return date_str  # Return the original string if no format matches

# Apply the function to the 'Birthday' column
df['Order Date'] = df['Order Date'].apply(parse_date)

# Save the modified DataFrame back to CSV
#df.to_csv('modified_file.csv', index=False)

df["Order Date"]=pd.to_datetime(df["Order Date"])

  # Display the first few rows to verify

In [60]:
df.shape[0]

62884

In [14]:
df.to_csv('sales_clean.csv')

In [15]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Read the CSV file into a Pandas DataFrame
csv_file_path ="C:/Users/anant/OneDrive/Desktop/jupyter/sales_clean.csv"
df = pd.read_csv(csv_file_path)

# Step 2: Define the connection string for your database (MySQL example)
# Replace 'username', 'password', 'localhost', 'database_name' with your actual database credentials
engine = create_engine('mysql+mysqlconnector://root:root@localhost/Global_Electronics1')

# Step 3: Create a new table in the database with the same structure as the CSV
# Replace 'table_name' with the name of the table you want to create
df.to_sql('Sales', engine, index=False, if_exists='replace')

# Parameters:
# - 'table_name' is the name of the new table.
# - 'engine' is the connection object.
# - 'index=False' prevents the DataFrame index from being written as a column in the database.
# - 'if_exists="replace"' will drop the table if it already exists and create a new one. Use 'append' to add data without dropping.

print("Data inserted successfully!")

Data inserted successfully!

C:\Users\anant\AppData\Local\Temp\ipykernel_17556\4029050579.py:14: UserWarning: The provided table name 'Sales' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql('Sales', engine, index=False, if_exists='replace')