In [16]:
import chardet
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [17]:
df=pd.read_csv("stores_clean.csv")

In [26]:
df.sample(5)

,StoreKey,Country,State,Square_Meters,Open_Date
33,34,Netherlands,Groningen,1365.0,2010-01-01
52,53,United States,Montana,1260.0,2012-06-06
64,65,United States,West Virginia,1785.0,2012-01-01
35,36,United Kingdom,Armagh,1300.0,2014-07-02
7,8,Canada,Newfoundland and Labrador,2105.0,2014-07-02

In [19]:
df=df.rename(columns={'Open Date':'Open_Date','Square Meters':'Square_Meters'})

In [25]:
df=df.drop('Unnamed: 0',axis=1)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     67 non-null     int64
 1   StoreKey       67 non-null     int64
 2   Country        67 non-null     object
 3   State          67 non-null     object
 4   Square Meters  66 non-null     float64
 5   Open Date      67 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 3.3+ KB

In [13]:
df.isnull().sum()

Unnamed: 0       0
StoreKey         0
Country          0
State            0
Square Meters    0
Open Date        0
dtype: int64

In [12]:
df.dropna(inplace=True)

In [4]:
from datetime import datetime

# Read the CSV file
df['Open Date'] = df['Open Date'].astype(str)


# Function to parse dates with multiple formats
def parse_date(date_str):
    formats = ['%Y-%m-%d', '%d-%m-%Y', '%m-%d-%Y']  # Add other formats as needed
    for fmt in formats:
        try:
            return datetime.strptime(date_str, fmt).strftime('%d/%m/%Y')
        except ValueError:
            continue
    return date_str  # Return the original string if no format matches

# Apply the function to the 'Birthday' column
df['Open Date'] = df['Open Date'].apply(parse_date)
df["Open Date"]=pd.to_datetime(df["Open Date"])
# Save the modified DataFrame back to CSV

In [6]:
df.shape[0]

67

In [27]:
df.to_csv('stores_clean.csv')

In [28]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Read the CSV file into a Pandas DataFrame
csv_file_path ="C:/Users/anant/OneDrive/Desktop/jupyter/stores_clean.csv"
df = pd.read_csv(csv_file_path)

# Step 2: Define the connection string for your database (MySQL example)
# Replace 'username', 'password', 'localhost', 'database_name' with your actual database credentials
engine = create_engine('mysql+mysqlconnector://root:root@localhost/Global_Electronics1')

# Step 3: Create a new table in the database with the same structure as the CSV
# Replace 'table_name' with the name of the table you want to create
df.to_sql('stores', engine, index=False, if_exists='replace')

# Parameters:
# - 'table_name' is the name of the new table.
# - 'engine' is the connection object.
# - 'index=False' prevents the DataFrame index from being written as a column in the database.
# - 'if_exists="replace"' will drop the table if it already exists and create a new one. Use 'append' to add data without dropping.

print("Data inserted successfully!")

Data inserted successfully!